FormatStyle: file
Checks: "\
  *,\
  -altera-*,\
  -fuchsia-default-arguments-calls,\
  -fuchsia-default-arguments-declarations,\
  -fuchsia-overloaded-operator,\
  -fuchsia-trailing-return,\
  -hicpp-no-array-decay,\
  -hicpp-signed-bitwise,\
  -llvm-header-guard,\
  -llvmlibc-*,\
  -readability-identifier-length,\
"
WarningsAsErrors: '*'
