FormatStyle: file
Checks: "\
  -*,\
  abseil-*,\
  bugprone-*,\
  cert-*,\
  clang-analyzer-*,\
  concurrency-*,\
  cppcoreguidelines-*,\
  google-*,\
  llvm-*,\
  -llvm-header-guard,\
  misc-*,\
  modernize-*,\
  performance-*,\
  portability-*,\
  readability-*,\
  -readability-identifier-length,\
"
WarningsAsErrors: '*'
