FormatStyle: file
Checks: "\
  -*,\
  abseil-*,\
  bugprone-*,\
  cert-*,\
  clang-analyzer-*,\
  clang-diagnostic-*,\
  concurrency-*,\
  google-*,\
  misc-*,\
  modernize-*,\
  performance-*,\
  portability-*,\
  readability-*,\
"
WarningsAsErrors: '*'
